.weatherContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.weatherPane {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  margin: 0 auto;
  width: auto;
  height: 100%;
  min-height: 100%;
}

.forecastPane {
  width: 100%;
}

.rangeButton:focus {
  outline: none;
}

.rangeButton:active {
  background: steelblue;
}
