.dayWeather,
.dayWeatherSelected {
  font-family: 'Open Sans', sans-serif;
  flex: none;
  display: block;
  height: 100%;
  margin: 20px;
}

.dayWeatherSelected {
  background-color: palegoldenrod;
}

.day,
.smallDescription {
  font-size: 16px;
  color: steelblue;
  letter-spacing: 0.05em;
  font-weight: 900;
  margin: 2px;
  text-align: center;
  font-style: italic;
}

.smallDescription,
.smallerDescription {
  font-size: 14px;
  color: gray;
  margin-bottom: 5px;
  text-align: center;
  font-style: normal;
}

.smallerDescription {
  font-size: 10px;
  color: black;
}
